# IDEs
/.idea/
/.vscode/
*.swp
*.swo

# Dependencies
node_modules/
dist/
build/
.turbo/

# Environment
.env
.env.local
.env.*.local

# CI/CD & Tooling
/.github/
/.husky/
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
coverage/
.vitest

# OS
.DS_Store
Thumbs.db
